# Ignore les fichiers générés par le compilateur TypeScript
dist/
*.js
*.js.map

# Ignore les fichiers générés par l'éditeur Visual Studio Code
.vscode/

# Ignore les fichiers générés par l'éditeur WebStorm
.idea/


# Ignore les fichiers de dépendances installées via npm ou yarn
node_modules/

# Ignore les fichiers de build générés par webpack ou autre outil de build
build/
out/